repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format
-   repo: local
    hooks:
    -   id: reindex-codebase
        name: Re-index Codebase
        stages: [post-commit]
        language: system
        entry: python -m assemblage.control_plane index
        verbose: true
